// Colors
// ============================================================================

$light-gray: #dad2d8ff;
$gunmetal: #143642ff;
$blue-green:  #17bebbff;
$carmine: #d62246ff;
$burnt-sienna: #ee6c4dff;

$colors: (
  "light-gray": $light-gray,
  "gunmetal": $gunmetal,
  "blue-green": $blue-green,
  "carmine": $carmine,
  "burnt-sienna": $burnt-sienna
);

$base-colors: "blue" "purple" "pink" "red" "orange" "yellow" "green" "gray", "gunmetal", "blue-green", "carmine", "burnt-sienna", "light-gray";

// Theme colors
// ============================================================================

$primary: $blue-green;
$secondary: $carmine;
$light: $light-gray;

// Typography
// ============================================================================

$font-family-sans-serif: "Lexend", sans-serif;
$font-family-alt-sans-serif: "Open Sans", sans-serif;
$font-weight-semi-bold: 600;
$small-font-size: .75rem;

$font-size-base: 1rem;

@import "~bootstrap/scss/variables";