~~~~~~~~~~ VENTAS TOTALES ~~~~~~~~~~<br>
{% for i in ventas %}
    <p>
        {{i.nombre}}<br>
        {{i.fecha}}<br>
        {% for j in i.pedidos %}
            &emsp;&emsp;{{j.elemento}}<br>
            &emsp;&emsp;{{j.tamaño}}<br>
            {% for k in j.ingredientes %}
                &emsp;&emsp;&emsp;&emsp;{{k.ingrediente}} - {{k.precio}}<br>
            {% endfor %}
            &emsp;&emsp;Precio item: {{j.precio}}<br><br>
        {% endfor %}
        Total: {{i.total}}<br><br>
    </p>
    ~ ~ ~ ~ ~ ~ ~ ~ ~ ~<br>
{% endfor %}
<br><br><br><br><br><br><br><br>

~~~~~~~~~~ VENTAS POR DIA ~~~~~~~~~~<br>
{% for i in dias %}
    <p>
        <p><i>{{i}}</i><br></p>
        {% for j in ventas %}
            {% if j.fecha.date == i %}
                &emsp;&emsp;{{j.nombre}}<br>
                &emsp;&emsp;&emsp;&emsp;{{j.fecha}}<br>
                &emsp;&emsp;&emsp;&emsp;Total: {{j.total}}<br><br>
            {% endif %}
        {% endfor %}
    </p>
    ~ ~ ~ ~ ~ ~ ~ ~ ~ ~<br>
{% endfor %}
<br><br><br><br><br><br><br><br>

~~~~~~~~~~ VENTAS POR TAMAÑO DE SANDWICH ~~~~~~~~~~<br>
{% for i in sandwichPorTamaño %}
    <p><i>{{i.tamaño}}<br></i></p>
    {% for j in i.sandwiches%}
    &emsp;&emsp;{{j.sandwich}} -- {{j.orden.cliente}} -- {{j.orden.fecha}} -- {{j.sandwich.precio}}<br>
    {% endfor %}
    ~ ~ ~ ~ ~ ~ ~ ~ ~ ~<br>
{% endfor %}
<br><br><br><br><br><br><br><br>

~~~~~~~~~~ VENTAS POR INGREDIENTE ~~~~~~~~~~<br>
{% for i in sandwichPorIngrediente %}
    <p><i>{{i.ingrediente}}<br></i></p>
    {% for j in i.sandwiches%}
    &emsp;&emsp;{{j.sandwich}} -- {{j.orden.cliente}} -- {{j.orden.fecha}} -- {{j.sandwich.precio}}<br>
    {% endfor %}
    ~ ~ ~ ~ ~ ~ ~ ~ ~ ~<br>
{% endfor %}
<br><br><br><br><br><br><br><br>

~~~~~~~~~~ VENTAS POR CLIENTE ~~~~~~~~~~<br>
{% for i in clientes %}
    <p>
        <p><i>{{i}}</i><br></p>
        {% for j in ventas %}
            {% if j.nombre == i %}
                &emsp;&emsp;{{j.fecha}}<br>
                {% for k in j.pedidos %}
                    &emsp;&emsp;&emsp;&emsp;{{k.tamaño}} -- {{k.elemento}}<br>
                    {% for l in k.ingredientes %}
                        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;{{l.ingrediente}} -- {{l.precio}}<br>
                    {% endfor %}
                    &emsp;&emsp;&emsp;&emsp;{{k.precio}}<br>
                {% endfor %}
                &emsp;&emsp;&emsp;&emsp;Total: {{j.total}}<br><br>
            {% endif %}
        {% endfor %}
    </p>
    ~ ~ ~ ~ ~ ~ ~ ~ ~ ~<br>
{% endfor %}
<br><br><br><br><br><br><br><br>